<header>
            <nav>
                <section class="navbar">
                    <ul id="menu">
                        <li class="logo"><img class="logoimage" src="images/logo.png" alt="logo_image"></li>
                        <li class="home"><a style="font-size: 22.4rem;" href="#">HOME</a></li>
                        <li class="category"><a style="font-size: 22.4rem;" href="#category_text">CATEGORY</a></li>
                        <li class="product"><a style="font-size: 22.4rem;" href="#product_text">PRODUCT</a></li>
                        <li class="services"><a style="font-size: 22.4rem;" href="#services_text">SERVICES</a></li>
                        <li class="dealers"><a style="font-size: 22.4rem;" href="#">DEALERS</a></li>
                        <section class="dropdown">
                            <li class="mnu"><button style="background-color: slategray;" class="dropbtn"><a href="#"><span class="material-symbols-outlined"
                                            style="font-size: 22.4rem;">menu</span></a></button>
                                <section class="dropdown-content">
                                    <a href="#gallery_text">GALLERY</a>
                                    <a href="#video_text">VIDEOS</a>
                                    <a href="#about_text">ABOUT US</a>
                                    <a href="#contactus_text">CONTACT US</a>
                                </section>
                            </li>
                        </section>
                        <section class="dropdown">
                            <li class="account"><button style="background-color: slategray;" class="dropbtn"><a href="#"><span style="font-size: 22.4rem;"
                                            class="material-symbols-outlined">person</span></a></button>
                                <section class="dropdown-content">
                                    <a href="/login">LOG IN</a>
                                    <a href="/register">SIGN IN</a>
                                    <a href="#"><span style="font-size: 22.4rem;"
                                            class="material-symbols-outlined">shopping_cart</span></a>
                                    <a href="#">LOG OUT</a>
                                </section>
                            </li>
                        </section>
                        <li class="logout"><a href="#"><span style="font-size: 22.4rem;"
                                    class="material-symbols-outlined">logout</span></a></li>
                    </ul>
                </section>
            </nav>
        </header>